        <div class="content" ng-controller="AirportOutCtrl" ng-show="show">
            <div class="content-padded">
                <p>What are you looking for?</p>
            </div>
            <div class="card">
                <ul class="table-view">
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Restaurants">
                            <span class="badge">Restaurants</span>
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Hotels">
                            <span class="badge">Hotels</span>
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Spas">
                            <span class="badge">Spas</span>
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Classes">
                            <span class="badge">Classes</span>
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Stores">
                            <span class="badge">Grocery Stores</span>
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Fitness">
                            <span class="badge">Fitness Centers</span>
                        </a>
                    </li>
        </div>
