        <div class="content" ng-controller="AirportOutCtrl" ng-show="show">
            <div class="content-padded">
                <p>What are you looking for?</p>
            </div>
            <div class="card">
                <ul class="table-view">
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Restaurant">
                            Restaurants
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Hotel">
                            Hotels
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Spa">
                            Spas
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Class">
                            Classes
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Grocery">
                            Grocery Stores
                        </a>
                    </li>
                    <li class="table-view-cell">
                        <a class="navigate-right" href="/#Places/Type/Fitness">
                            Fitness Centers
                        </a>
                    </li>
        </div>
