        <div class="content">
            <div class="content-padded">
                <h3>Welcome to On the Go.</h3>
                <p>Let us know where you are:</p>
            </div>
            <ul class="table-view">
                <li class="table-view-cell">
                    <a class="navigate-right" href="LAX-Details.html"><span class="badge badge-primary">1 mi</span>LAX (Los Angeles Intl.)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="HHR-Details.html"><span class="badge badge-primary">4 mi</span>HHR (Hawthorn Municipal)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="SMO-Details.html"><span class="badge badge-primary">6 mi</span>SMO (Santa Monica)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="CPM-Details.html"><span class="badge badge-primary">10 mi</span>CPM (Compton - Woodley)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="TOA-Details.html"><span class="badge badge-primary">11 mi</span>TOA (Torrance)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="EMT-Details.html"><span class="badge badge-primary">24 mi</span>EMT (El Monte)</a>
                </li>
                <li class="table-view-cell">
                    <a class="navigate-right" href="FUL-Details.html"><span class="badge badge-primary">25 mi</span>FUL (Fullerton Municipal)</a>
                </li>
            </ul>
        </div>
