        <nav class="bar bar-tab bar-footer" ng-controller="NavBarCtrl">
            <a class="tab-item" ng-class="{ active: navBarActive('/')}" href="/">
                <span class="icon icon-home"></span><span class="tab-label">Home</span>
            </a>
            <a class="tab-item" ng-class="{ active: navBarActive('/Search')}" href="/#Search">
                <span class="icon icon-search"></span><span class="tab-label">Search</span>
            </a>
            <a class="tab-item" ng-class="{ active: navBarActive('/Blog')}" href="/#Blog">
                <span class="icon icon-star-filled"></span><span class="tab-label">Blog</span>
            </a>
        </nav>
